nav{
	background-color: rgb(0,0,0,0.5);
	width: 100%;
}
nav a{
	text-decoration: none;
	color: #fff;
	font-size: 16px;
	margin-left: 3rem;
	margin-top: 10px;
}

nav a:hover	{
	color:#AEAEAE;
	font-size: 16px;
}
.container-fluid{
	height: 335px;
	background-image: url('../img/bg.jpg');
	background-color: rgb(0,0,0,0.7);
	background-blend-mode: color-dodge;
	background-size:  inherit;
	background-attachment: fixed;
	object-fit:cover;
	background-position-y: -274px;

}
.container{
	margin-top: 8rem;
}
.popup-login{
	background: #eb592d;
    font-size: 16px;
    font-weight: 400;
    border: 1px solid transparent;
    color: #fff;
    padding: 19px 43px 23px 43px;
    font-family: "Lato", sans-serif;
    display: inline-block;
    line-height: 1;

}
.popup-login:hover{
	color: #eb592d;
	background-color: transparent;
	font-size: 16px;
	border: 1px solid;
	text-decoration: none;

}

.navbar-link{
	padding-top: 20px;
}
.text{
	/*border: solid;*/
	margin-top:180px;
	margin-right:50%;
	margin-left: 4rem;
	max-height: 50%;
	color: rgb(255,255,255,0.9);
}
.jl{
	color: rgb(255,255,255,0.9);
	font-size: 20px;
	margin-left: 4rem;
}
.copy-right_text{
	background-color: #000;
	color: #ffff;
}
.about_area .about_thumbs img {
    width: 100%;
}
.about_area h3{
	font-size: 60px;
}	
.about_area p{
	font-size: 20px;
}
.about_area span{
	font-size: 25px;
}

